<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/reset.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <title>Vending Machine</title>
  </head>
  <body>
    <div class="wrap">
      <div class="product-view">
        <ul class="product">
          <li>
            <button>
              <div><span>1</span><strong>q</strong></div>
            </button>
          </li>
          <li>
            <button>
              <div><span>2</span><strong>w</strong></div>
            </button>
          </li>
          <li>
            <button>
              <div><span>3</span><strong>e</strong></div>
            </button>
          </li>
          <li>
            <button>
              <div><span>4</span><strong>r</strong></div>
            </button>
          </li>
          <li>
            <button>
              <div><span>5</span><strong>t</strong></div>
            </button>
          </li>
          <li>
            <button>
              <div><span>6</span><strong>y</strong></div>
            </button>
          </li>
          <li>
            <button>
              <div><span>7</span><strong>u</strong></div>
            </button>
          </li>
          <li>
            <button>
              <div><span>8</span><strong>i</strong></div>
            </button>
          </li>
        </ul>
      </div>
      <div class="product-select">
        <div class="input-amount"></div>
        <div class="select-number">
          <ul>
            <li><button>1</button></li>
            <li><button>2</button></li>
            <li><button>3</button></li>
            <li><button>4</button></li>
            <li><button>5</button></li>
            <li><button>6</button></li>
            <li><button>7</button></li>
            <li><button>8</button></li>
            <li><button>9</button></li>
            <li><button>0</button></li>
          </ul>
        </div>
        <div class="message-window">
          <ol>
            <li>냐냐냐</li>
          </ol>
        </div>
      </div>
      <div class="wallet">
        <div class="money-wrap">
          <div class="money-unit"><button>10원</button><span>0</span></div>
          <div class="money-unit"><button>50원</button><span>1</span></div>
          <div class="money-unit"><button>100원</button><span>ㅇ</span></div>
          <div class="money-unit"><button>500원</button><span>ㅇ</span></div>
          <div class="money-unit"><button>1000원</button><span>ㅇ</span></div>
          <div class="money-unit"><button>5000원</button><span>ㅇ</span></div>
          <div class="money-unit"><button>10000원</button><span>ㅇ</span></div>
          <div class="money-unit"><button>50000원</button><span>ㅇ</span></div>
        </div>
        <div class="total-money">22500</div>
      </div>
    </div>
  </body>
</html>
