<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/reset.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <title>Vending Machine</title>
  </head>
  <body>
    <div class="wrap">
      <div class="product-view">
        <ul class="product">
          <li>
            <button>
              <div class="product-image">🥤</div>
              <div class="product-content">
                <span>1</span>
                <strong>콜라</strong>
              </div>
            </button>
          </li>
          <li>
            <button>
              <div class="product-image">🧊</div>
              <div class="product-content">
                <span>1</span>
                <strong>콜라</strong>
              </div>
            </button>
          </li>
          <li>
            <button>
              <div class="product-image">🥤</div>
              <div class="product-content">
                <span>1</span>
                <strong>콜라</strong>
              </div>
            </button>
          </li>
          <li>
            <button>
              <div class="product-image">🧊</div>
              <div class="product-content">
                <span>1</span>
                <strong>콜라</strong>
              </div>
            </button>
          </li>
          <li>
            <button>
              <div class="product-image">🥤</div>
              <div class="product-content">
                <span>1</span>
                <strong>콜라</strong>
              </div>
            </button>
          </li>
          <li>
            <button>
              <div class="product-image">🧊</div>
              <div class="product-content">
                <span>1</span>
                <strong>콜라</strong>
              </div>
            </button>
          </li>
          <li>
            <button>
              <div class="product-image">🥤</div>
              <div class="product-content">
                <span>1</span>
                <strong>콜라</strong>
              </div>
            </button>
          </li>
          <li>
            <button>
              <div class="product-image">🧊</div>
              <div class="product-content">
                <span>1</span>
                <strong>콜라</strong>
              </div>
            </button>
          </li>
          <li>
            <button>
              <div class="product-image">🥤</div>
              <div class="product-content">
                <span>1</span>
                <strong>콜라</strong>
              </div>
            </button>
          </li>
          <li>
            <button>
              <div class="product-image">🧊</div>
              <div class="product-content">
                <span>1</span>
                <strong>콜라</strong>
              </div>
            </button>
          </li>
          

        </ul>
      </div>
      <div class="product-select">
        <div class="input-amount"></div>
        <div class="select-number">
          <ul>
            <li><button>1</button></li>
            <li><button>2</button></li>
            <li><button>3</button></li>
            <li><button>4</button></li>
            <li><button>5</button></li>
            <li><button>6</button></li>
            <li><button>7</button></li>
            <li><button>8</button></li>
            <li><button>9</button></li>
            <li class="select-button"><button>취소</button></li>
            <li><button>0</button></li>
            <li class="select-button"><button>입력</button></li>
          </ul>
        </div>
        <div class="message-window">
          <ol>
            <li>냐냐냐</li>
          </ol>
        </div>
      </div>
      <div class="wallet">
        <div class="money-wrap">
          <div class="money-unit"><button>10원</button><span>0</span></div>
          <div class="money-unit"><button>50원</button><span>1</span></div>
          <div class="money-unit"><button>100원</button><span>ㅇ</span></div>
          <div class="money-unit"><button>500원</button><span>ㅇ</span></div>
          <div class="money-unit"><button>1000원</button><span>ㅇ</span></div>
          <div class="money-unit"><button>5000원</button><span>ㅇ</span></div>
          <div class="money-unit"><button>10000원</button><span>ㅇ</span></div>
          <div class="money-unit"><button>50000원</button><span>ㅇ</span></div>
        </div>
        <div class="total-money">22500</div>
      </div>
    </div>
  </body>
</html>
